[Desktop Entry]
Type=Application
Name=Multirice
NoDisplay=true
GenericName=An easy way to organize your rice setups
Comment=An easy way to organize your rice setups
Exec=multirice
X-GNOME-WMName=multirice
X-GNOME-Autostart-Phase=WindowManager
X-GNOME-Provides=windowmanager
X-GNOME-Autostart-Notify=false
