[Desktop Entry]
Name=easyrice
Comment=An easy way to organize your rice setups
Exec=easyrice
TryExec=easyrice
Type=Application
X-LightDM-DesktopName=easyrice
DesktopNames=easyrice
Keywords=tiling;wm;windowmanager;window;manager;
